* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: #373a34; /* Light pastel blue background color */
  }
  

  .login-container {
    display: flex;
    width: 80%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .image-container {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./4.jpg') center/cover; /* Add your background image URL */
    color: white;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .image-container h1 {
    font-size: 24px;
  }
  

  .form-container {
    flex: 1;
    padding: 20px;
    background: #fff; /* Background color for the form container */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .login-form {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .login-form > input {
    font-size: 18px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  label {
    margin-bottom: 8px;
    font-size: 16px;
  }

  input,
  select {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  input[type="submit"] {
    background-color: #ff0000; /* Purple color */
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  